[Unit]
Description=Streamevmon time series anomaly detection pipeline
Documentation=https://github.com/wanduow/streamevmon
After=network.target rabbitmq-server.service taskmanager@streamevmon.service
Wants=rabbitmq-server.service
Requires=taskmanager@streamevmon.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=flink
Group=flink
ExecStart=/usr/share/flink/bin/standalone-job.sh start-foreground --job-classname nz.net.wand.streamevmon.runners.examples.MetricGatherer
ExecStop=/usr/share/flink/bin/standalone-job.sh stop
SuccessExitStatus=143

WorkingDirectory=/usr/share/flink
