[Unit]
Description=Flink Taskmanager for streamevmon
Documentation=https://github.com/wanduow/streamevmon
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=flink
Group=flink

Type=simple

RuntimeDirectory=streamevmon
LogsDirectory=streamevmon

Environment=FLINK_IDENT_STRING=streamevmon
Environment=FLINK_LOG_DIR=/var/log/streamevmon
Environment=FLINK_PID_DIR=/run/streamevmon
PIDFile=/run/streamevmon/flink-streamevmon-taskexecutor.pid

ExecStart=/usr/share/flink/bin/taskmanager.sh start-foreground
SuccessExitStatus=143

Restart=on-failure
