[Unit]
Description=Streamevmon time series anomaly detection pipeline
Documentation=https://github.com/wanduow/streamevmon
After=network.target rabbitmq-server.service streamevmon-taskmanager.service
Wants=rabbitmq-server.service
Requires=streamevmon-taskmanager.service

[Install]
WantedBy=multi-user.target

[Service]
User=flink
Group=flink

Type=simple

RuntimeDirectory=streamevmon
LogsDirectory=streamevmon

Environment=FLINK_IDENT_STRING=streamevmon
Environment=FLINK_LOG_DIR=/var/log/streamevmon
Environment=FLINK_PID_DIR=/run/streamevmon
PIDFile=/run/streamevmon/flink-streamevmon-standalonejob.pid

ExecStart=/usr/share/flink/bin/standalone-job.sh start-foreground --job-classname nz.net.wand.streamevmon.runners.unified.YamlDagRunner
ExecStop=/usr/share/flink/bin/standalone-job.sh stop
ExecStopPost=/usr/share/flink/bin/taskmanager.sh stop
SuccessExitStatus=143

Restart=on-failure
