[Unit]
Description=Flink Standalone TaskManager
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=flink
Group=flink

Type=simple
ExecStart=/usr/share/flink/bin/taskmanager.sh start-foreground
SuccessExitStatus=143

Restart=on-failure
