[Unit]
Description=Flink Standalone TaskManager
After=network.target

[Service]
Type=simple
User=flink
Group=flink
ExecStart=/usr/share/flink/bin/taskmanager.sh start-foreground

[Install]
WantedBy=multi-user.target
