# This file contains general settings that don't fit in other files.

caching:
  ttl: 30
  memcached:
    serverName: localhost
    port: 11211
    enabled: false

flink:
  maxLateness: 20
  checkpointInterval: 600

eventGrouping:
  graph:
    pruneIntervalCount: 500
    pruneIntervalTime: 43200 # 12 hours
    pruneAge: 1200
    exportInterval: 10
    exportLocation: /tmp/graph-export.dot
  time:
    maximumEventInterval: 10
    maximumGroupDuration: 7200 # 2 hours
### Example of configuration for frequentFilter.
### Uncomment to customise
#  frequentFilter:
#    small:
#      interval: 60
#      count: 5
#      cooldown: 120
#      severity: 25
#    medium:
#      interval: 120
#      count: 15
#      cooldown: 240
#      severity: 50
#    large:
#      interval: 360
#      count: 100
#      cooldown: 720
#      severity: 75
###
